Repository COS301-SE-2024/occupi, pull requests merged in 2024-10, with the labels that each got.

#417 Test/web/test
  frontend/occupi-web/bun.lockb
  frontend/occupi-web/package.json
  frontend/occupi-web/src/components/aboutComponent/AboutComponent.test.tsx
  frontend/occupi-web/src/components/aboutComponent/AboutComponent.tsx
  frontend/occupi-web/src/components/addRoomModal/AddRoomModal.test.tsx
  frontend/occupi-web/src/components/aiDashboard/aiDashCard/AiDashCard.test.tsx
  frontend/occupi-web/src/components/aiDashboard/aiDashCard/AiDashCard.tsx
  frontend/occupi-web/src/components/aiDashboard/aiDashGraphs/AIDashGraphs.tsx
  frontend/occupi-web/src/components/barGraph/BarGraph.test.tsx
  frontend/occupi-web/src/components/bookingsDashboardComponent/BookingsDashboard.test.tsx
  frontend/occupi-web/src/components/currentBookings/CurrentBooking.test.tsx
  frontend/occupi-web/src/components/data/Data.test.tsx
  frontend/occupi-web/src/components/drawerComponent/DrawerComponent.test.tsx
  frontend/occupi-web/src/components/drawerComponent/menuItem/MenuItem.test.tsx
  frontend/occupi-web/src/components/editRoomModal/EditRoomModal.test.tsx
  frontend/occupi-web/src/components/headerComponent/Header.test.tsx
  frontend/occupi-web/src/pages/Dashboard/Dashboard.test.tsx
  frontend/occupi-web/src/pages/about/AboutPage.test.tsx
  frontend/occupi-web/src/pages/about/AboutPage.tsx
Labels: type: testing, effort: 5, platform: web/desktop

#415 Refactor PDF download button in OccupancyModal component
  frontend/occupi-web/bun.lockb
  frontend/occupi-web/package.json
  frontend/occupi-web/src/components/ProfileComponent/ProfileComponent.test.tsx
  frontend/occupi-web/src/components/ProfileComponent/ProfileComponent.tsx
  frontend/occupi-web/src/components/aiDashboard/aiDashGraphs/BookingLevelCalendar.tsx
  frontend/occupi-web/src/components/modal/Modal.tsx
  frontend/occupi-web/src/components/occupancyRecommendationEngine/OccupancyRecommendationEngine.tsx
  frontend/occupi-web/src/components/workerStats/HoursDashboard.tsx
  frontend/occupi-web/src/components/workerStats/PeakOfficeHoursChart.tsx
  frontend/occupi-web/src/components/workerStats/WorkRatioChart.tsx
  frontend/occupi-web/src/pages/reports/PDFReport.tsx
Labels: effort: 2

#423 Refactor AuthService to return full response object in pingAdmin function and to only check for 200 response from ping-admin endpoint
  frontend/occupi-web/src/AuthService.ts
  frontend/occupi-web/src/components/protectedRoutes/ProtectedRoutes.tsx
Labels: type: bug, type: fix, type: security, priority: low, effort: 1, platform: web/desktop

#427 Bringing changes downstream
  .gitignore
  attendance_scaler.pkl
  documentation/occupi-docs/Awards/Data Science - Innovation using Data.pdf
  documentation/occupi-docs/Awards/Data.tex
  documentation/occupi-docs/Awards/Mockaroo.png
  documentation/occupi-docs/Awards/Reports.png
  documentation/occupi-docs/Awards/Training.png
  documentation/occupi-docs/Awards/User_Reports.png
  documentation/occupi-docs/Awards/logo-white.png
  frontend/occupi-web/src/AuthService.ts
  frontend/occupi-web/src/components/OverviewComponent/OverviewComponent.tsx
  frontend/occupi-web/src/components/protectedRoutes/ProtectedRoutes.tsx
  frontend/occupi-web/src/components/sideNavComponent/SideNav.tsx
  frontend/occupi-web/src/components/workerStats/LeastActiveEmployeeCard.tsx
  frontend/occupi-web/src/pages/worker-dash/WorkerDashboard.tsx
  hourly_scaler.pkl
  maestro/LSTM(1).py
Labels: type: bringing changes downstream

#426 Bringing changes downstream
  .gitignore
  attendance_scaler.pkl
  documentation/occupi-docs/Awards/Data Science - Innovation using Data.pdf
  documentation/occupi-docs/Awards/Data.tex
  documentation/occupi-docs/Awards/Mockaroo.png
  documentation/occupi-docs/Awards/Reports.png
  documentation/occupi-docs/Awards/Training.png
  documentation/occupi-docs/Awards/User_Reports.png
  documentation/occupi-docs/Awards/logo-white.png
  frontend/occupi-web/src/AuthService.ts
  frontend/occupi-web/src/components/OverviewComponent/OverviewComponent.tsx
  frontend/occupi-web/src/components/protectedRoutes/ProtectedRoutes.tsx
  frontend/occupi-web/src/components/sideNavComponent/SideNav.tsx
  frontend/occupi-web/src/components/workerStats/LeastActiveEmployeeCard.tsx
  frontend/occupi-web/src/pages/worker-dash/WorkerDashboard.tsx
  hourly_scaler.pkl
  maestro/LSTM(1).py
Labels: type: bringing changes downstream

#425 Bringing changes downstream
  .gitignore
  attendance_scaler.pkl
  documentation/occupi-docs/Awards/Data Science - Innovation using Data.pdf
  documentation/occupi-docs/Awards/Data.tex
  documentation/occupi-docs/Awards/Mockaroo.png
  documentation/occupi-docs/Awards/Reports.png
  documentation/occupi-docs/Awards/Training.png
  documentation/occupi-docs/Awards/User_Reports.png
  documentation/occupi-docs/Awards/logo-white.png
  frontend/occupi-web/src/AuthService.ts
  frontend/occupi-web/src/components/OverviewComponent/OverviewComponent.tsx
  frontend/occupi-web/src/components/protectedRoutes/ProtectedRoutes.tsx
  frontend/occupi-web/src/components/sideNavComponent/SideNav.tsx
  frontend/occupi-web/src/components/workerStats/LeastActiveEmployeeCard.tsx
  frontend/occupi-web/src/pages/worker-dash/WorkerDashboard.tsx
  hourly_scaler.pkl
  maestro/LSTM(1).py
Labels: type: bringing changes downstream

#428 Qc/web/global search
  frontend/occupi-web/src/components/globalSearch/GlobalSearch.tsx
  frontend/occupi-web/src/components/globalSearch/SearchContent.ts
Labels: type: feature, For: frontend, priority: medium, effort: 3

#430 Chore/web/usability test fixes
  frontend/occupi-web/src/components/aiDashboard/aiDashCard/AiDashCard.tsx
  frontend/occupi-web/src/components/graphContainer/GraphContainer.test.tsx
  frontend/occupi-web/src/components/graphContainer/GraphContainer.tsx
  frontend/occupi-web/src/pages/aiDashboard/AiDashboard.tsx
  frontend/occupi-web/src/pages/reports/PDFReport.tsx
  frontend/occupi-web/src/pages/rooms/Rooms.tsx
Labels: type: chore, For: frontend, priority: medium, effort: 3, platform: web/desktop

#433 Qc/web/ip address revamp
  frontend/occupi-web/bun.lockb
  frontend/occupi-web/package.json
  frontend/occupi-web/src/components/index.ts
  frontend/occupi-web/src/components/modal/AddIPModal.tsx
  frontend/occupi-web/src/components/modal/DeleteIPModal.tsx
  frontend/occupi-web/src/components/modal/UnblockIPModal.tsx
  frontend/occupi-web/src/components/sideNavComponent/SideNav.tsx
  frontend/occupi-web/src/pages/Locations-page/LocationPage.tsx
Labels: type: feature, type: fix, For: frontend, priority: medium, effort: 2, platform: web/desktop

#429 Qc/web/rooms page
  frontend/occupi-web/src/DataService.ts
  frontend/occupi-web/src/components/addRoomModal/AddRoomModal.test.tsx
  frontend/occupi-web/src/components/addRoomModal/AddRoomModal.tsx
  frontend/occupi-web/src/pages/rooms/Rooms.tsx
Labels: type: chore, type: feature, type: fix, For: frontend, priority: high, effort: 3, type: task, platform: web/desktop, For: integration
