Repository COS301-SE-2024/occupi, pull requests merged in 2024-07, with the labels that each got.

#143 Retrieve User Details updated
  .gitignore
  documentation/occupi-docs/pages/api-documentation/api-usage.mdx
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/router/router.go
Labels: type: feature, For: api, priority: high, effort: 5

#151 Feat/actions/mobile desktop ci/cd
  .github/workflows/build-and-release.yml
Labels: type: documentation, effort: 1, platform: mobile, platform: web/desktop, For: deployment, type: actions

#144 Feat/web/integration testing
  frontend/occupi-web/src/pages/Login/LoginForm.test.tsx
  frontend/occupi-web/src/pages/otp-page/OtpPage.test.tsx
  frontend/occupi-web/src/pages/otp-page/OtpPage.tsx
Labels: type: feature, type: testing, For: frontend, priority: medium, status: pending, platform: web/desktop

#150 chore: Refactor email sending to skip sending emails in test mode
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/pkg/mail/mail.go
  occupi-backend/tests/auth_handlers_test.go
  occupi-backend/tests/database_test.go
  occupi-backend/tests/handlers_test.go
  occupi-backend/tests/middleware_test.go
Labels: type: fix, type: testing, For: api, For: backend, effort: 2

#155 Feat/backend/database access improvements
  occupi-backend/cmd/occupi-backend/main.go
  occupi-backend/configs/setup.go
  occupi-backend/go.mod
  occupi-backend/go.sum
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/pkg/models/app.go
  occupi-backend/pkg/router/router.go
  occupi-backend/tests/auth_handlers_test.go
  occupi-backend/tests/cache_test.go
  occupi-backend/tests/database_test.go
  occupi-backend/tests/handlers_test.go
  occupi-backend/tests/middleware_test.go
Labels: type: feature, For: api, For: backend, priority: medium

#148 Feat/backend/reset password
  occupi-backend/configs/config.go
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/pkg/mail/email_format.go
  occupi-backend/pkg/models/database.go
  occupi-backend/pkg/models/request.go
  occupi-backend/pkg/router/router.go
  occupi-backend/tests/database_test.go
  occupi-backend/tests/handlers_test.go
Labels: type: feature, type: testing, For: api, For: backend, status: pending, effort: 3

#159 Docs/backend/documentation
  occupi-backend/cmd/occupi-backend/main.go
Labels: type: documentation, effort: 1

#160 chore: Update config.go and scripts for encryption and decryption of environment variables
  occupi-backend/cmd/occupi-backend/main.go
  occupi-backend/configs/config.go
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/dev.localhost.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/test.yaml.gpg
  occupi-backend/go.mod
  occupi-backend/go.sum
  occupi-backend/occupi.sh
  occupi-backend/scripts/decrypt_env_variables.sh
  occupi-backend/scripts/encrypt_env_variables.sh
Labels: type: documentation, type: feature, type: security, For: api, For: backend, For: deployment

#166 chore: Update middleware to handle token retrieval from Authorization header
  documentation/occupi-docs/pages/api-documentation/api-usage.mdx
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/pkg/middleware/middleware.go
  occupi-backend/pkg/router/router.go
  occupi-backend/tests/middleware_test.go
Labels: type: feature, type: fix, type: security, type: testing, For: api, For: backend, priority: critical

#163 Feat/backend/multiple reciepents email
  occupi-backend/pkg/constants/constants.go
  occupi-backend/pkg/mail/mail.go
  occupi-backend/pkg/models/app.go
  occupi-backend/tests/mail_test.go
Labels: type: feature, type: fix, For: api, For: backend

#170 Feat/backend/resend otp endpoint
  .gitignore
  documentation/occupi-docs/pages/api-documentation/api-usage.mdx
  occupi-backend/configs/config.go
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/dev.localhost.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/setup.go
  occupi-backend/configs/test.yaml.gpg
  occupi-backend/data/database.go
  occupi-backend/go.mod
  occupi-backend/go.sum
  occupi-backend/pkg/constants/constants.go
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/pkg/middleware/middleware.go
  occupi-backend/pkg/models/app.go
  occupi-backend/pkg/router/router.go
  occupi-backend/samples/notifications/main.go
  occupi-backend/tests/main_test.go
  occupi-backend/tests/middleware_test.go
Labels: type: feature, type: security, type: testing, For: api, For: backend, priority: high

#178 chore: Update CORS configuration in backend main.go file
  occupi-backend/cmd/occupi-backend/main.go
  occupi-backend/configs/config.go
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/dev.localhost.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/test.yaml.gpg
  occupi-backend/go.mod
  occupi-backend/go.sum
  occupi-backend/tests/main_test.go
Labels: type: chore, type: fix, type: security, type: testing, For: api, For: backend, priority: critical

#181 Feat/backend/cache database functions
  .github/workflows/lint-test-build-golang.yml
  occupi-backend/configs/config.go
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/dev.localhost.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/setup.go
  occupi-backend/configs/test.yaml.gpg
  occupi-backend/data/database.go
  occupi-backend/occupi.bat
  occupi-backend/occupi.sh
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/tests/cache_test.go
  occupi-backend/tests/database_test.go
  occupi-backend/tests/main_test.go
Labels: type: feature, type: testing, For: api, For: backend

#174 Feature/web/bookings table
  frontend/occupi-web/.gitignore
  frontend/occupi-web/bun.lockb
  frontend/occupi-web/jest.config.ts
  frontend/occupi-web/package.json
  frontend/occupi-web/setupTests.ts
  frontend/occupi-web/src/AuthService.ts
  frontend/occupi-web/src/components/OverviewComponent/OverviewComponent.tsx
  frontend/occupi-web/src/components/ProfileComponent/ProfileComponent.tsx
  frontend/occupi-web/src/components/bookingComponent/BookingComponent.tsx
  frontend/occupi-web/src/components/bookings/Bookings.tsx
  frontend/occupi-web/src/components/data/Data.test.tsx
  frontend/occupi-web/src/components/data/Data.tsx
  frontend/occupi-web/src/components/headerComponent/Header.tsx
  frontend/occupi-web/src/components/index.ts
  frontend/occupi-web/src/components/keyStats.tsx/KeyStats.tsx
  frontend/occupi-web/src/components/modal/Modal.test.tsx
  frontend/occupi-web/src/components/modal/Modal.tsx
  frontend/occupi-web/src/components/occupancyRatingChart/OccupancyRating.tsx
  frontend/occupi-web/src/components/occupiLoader/OccupiLoader.tsx
  frontend/occupi-web/src/components/officePresentProbabilityChart/OfficePresent.tsx
  frontend/occupi-web/src/components/sideNavComponent/SideNav.tsx
  frontend/occupi-web/src/components/statCard/StatCard.tsx
  frontend/occupi-web/src/components/weeklyAttendanceChart/WeeklyAttendanceChart.tsx
  frontend/occupi-web/src/pages/Login/LoginForm.test.tsx
  frontend/occupi-web/src/pages/otp-page/OtpPage.test.tsx
  frontend/occupi-web/src/vite-env.d.ts
  frontend/occupi-web/tsconfig.json
  frontend/occupi-web/vite.config.ts
Labels: type: feature, For: frontend, priority: medium, platform: web/desktop

#184 Fix/backend/view rooms fix
  documentation/SRS-Docs/SRS.pdf
  documentation/occupi-docs/pages/api-documentation/api-usage.mdx
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/models/database.go
  occupi-backend/pkg/router/router.go
Labels: type: chore, For: api, For: backend, priority: high, effort: 3, type: task

#183 chore: Use utils package for email formatting in mail.go
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/pkg/mail/mail.go
  occupi-backend/pkg/utils/email_format.go
  occupi-backend/tests/utils_test.go
Labels: type: chore, type: testing, For: backend, effort: 1

#186 "View Rooms Protected"
  occupi-backend/pkg/router/router.go
Labels: type: fix, For: api, For: backend, priority: high, priority: low, effort: 1

#190 Feat/backend/is user verified endpoint
  documentation/occupi-docs/pages/api-documentation/api-usage.mdx
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/pkg/models/database.go
  occupi-backend/pkg/models/request.go
  occupi-backend/pkg/router/router.go
Labels: type: feature, For: backend, effort: 2, type: task

#194 Feat/backend/making login more secure
  occupi-backend/configs/config.go
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/dev.localhost.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/setup.go
  occupi-backend/configs/test.yaml.gpg
  occupi-backend/go.mod
  occupi-backend/go.sum
  occupi-backend/pkg/constants/constants.go
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/pkg/handlers/auth_helpers.go
  occupi-backend/pkg/models/app.go
  occupi-backend/pkg/models/database.go
  occupi-backend/pkg/utils/email_format.go
  occupi-backend/tests/cache_test.go
  occupi-backend/tests/database_test.go
  occupi-backend/tests/utils_test.go
Labels: type: documentation, type: feature, type: fix, type: security, type: testing, For: api, For: backend, effort: 5

#198 Feat/backend/prediction model
  .gitignore
  datasets/Attendance_data(1).csv
  datasets/Attendance_data.csv
  datasets/Attendance_records (13).csv
  datasets/Attendance_records (14).csv
  datasets/Figure_1.png
  datasets/Gym_Crowd.csv
  datasets/LSTM vs Actual.png
  datasets/LSTM(1).py
  datasets/LSTM.py
  datasets/Office_Visitations (1).csv
  datasets/Office_Visitations (2).csv
  datasets/Office_Visitations (3).csv
  datasets/predicted_attendance_per_day.csv
  datasets/predictive_model.py
  datasets/requirements.txt
  datasets/test.py
  datasets/warmup_data.py
  documentation/SRS-Docs/SRS.pdf
  documentation/SRS-Docs/SRS.synctex.gz
  documentation/SRS-Docs/SRS.tex
  models/attendance_model.h5
  models/attendance_model/1/assets.extra/tf_serving_warmup_requests
  models/attendance_model/1/fingerprint.pb
  models/attendance_model/1/saved_model.pb
  models/attendance_model/1/variables/variables.data-00000-of-00001
  models/attendance_model/1/variables/variables.index
  predicted_attendance_category_per_day.csv
  predicted_attendance_per_day.csv
Labels: type: feature, priority: high, effort: 8

#199 feat: Add cache package for user and OTP caching
  occupi-backend/pkg/cache/cache.go
  occupi-backend/pkg/database/database.go
  occupi-backend/tests/cache_methods_unit_test.go
Labels: type: chore, type: testing, For: api, For: backend, effort: 2

#200 Bringing dev changes downstream
  .gitignore
  datasets/Attendance_data(1).csv
  datasets/Attendance_data.csv
  datasets/Attendance_records (13).csv
  datasets/Attendance_records (14).csv
  datasets/Figure_1.png
  datasets/Gym_Crowd.csv
  datasets/LSTM vs Actual.png
  datasets/LSTM(1).py
  datasets/LSTM.py
  datasets/Office_Visitations (1).csv
  datasets/Office_Visitations (2).csv
  datasets/Office_Visitations (3).csv
  datasets/predicted_attendance_per_day.csv
  datasets/predictive_model.py
  datasets/requirements.txt
  datasets/test.py
  datasets/warmup_data.py
  documentation/SRS-Docs/SRS.pdf
  documentation/SRS-Docs/SRS.synctex.gz
  documentation/SRS-Docs/SRS.tex
  models/attendance_model.h5
  models/attendance_model/1/assets.extra/tf_serving_warmup_requests
  models/attendance_model/1/fingerprint.pb
  models/attendance_model/1/saved_model.pb
  models/attendance_model/1/variables/variables.data-00000-of-00001
  models/attendance_model/1/variables/variables.index
  occupi-backend/pkg/cache/cache.go
  occupi-backend/pkg/database/database.go
  occupi-backend/tests/cache_methods_unit_test.go
  predicted_attendance_category_per_day.csv
  predicted_attendance_per_day.csv
Labels: type: bringing changes downstream

#197 Fix/web/responsive design
  frontend/occupi-web/src/components/InputBox/InputBox.test.tsx
  frontend/occupi-web/src/components/OtpComponent/OtpComponent.test.tsx
  frontend/occupi-web/src/components/OverviewComponent/OverviewComponent.tsx
  frontend/occupi-web/src/components/graphContainer/GraphContainer.test.tsx
  frontend/occupi-web/src/components/graphContainer/GraphContainer.tsx
  frontend/occupi-web/src/components/linechart/Line_Chart.tsx
  frontend/occupi-web/src/components/statCard/StatCard.tsx
  frontend/occupi-web/src/components/topNav/TopNav.tsx
  frontend/occupi-web/src/components/ui/checkbox.test.tsx
  frontend/occupi-web/src/pages/Login/LoginForm.tsx
Labels: type: chore, type: fix, For: frontend, priority: medium, platform: web/desktop

#201 feat: Refactor cache package for user and OTP caching
  .github/workflows/lint-test-build-golang.yml
  occupi-backend/configs/setup.go
  occupi-backend/occupi.bat
  occupi-backend/occupi.sh
  occupi-backend/pkg/database/database.go
Labels: type: chore, For: backend, effort: 1

#204 Feature/backend/person predictor
  datasets/Attendance_Prediction.csv
  datasets/LSTM.py
  datasets/Office_Visitations (1).csv
  datasets/Office_Visitations (2).csv
  datasets/Office_Visitations (3).csv
  datasets/Office_Visitations.csv
  datasets/predicted_attendance_per_day.csv
  images/Figure_1.png
  images/LSTM vs Actual.png
  maestro/Binary_ANN.py
  maestro/LSTM(1).py
  maestro/predictive_model.py
  maestro/requirements.txt
  maestro/test.py
  maestro/warmup_data.py
  models/attendance_model/1/fingerprint.pb
  models/attendance_model/1/saved_model.pb
  models/attendance_model/1/variables/variables.data-00000-of-00001
  models/attendance_model/1/variables/variables.index
  models/person_prediction_model/1/fingerprint.pb
  models/person_prediction_model/1/saved_model.pb
  models/person_prediction_model/1/variables/variables.data-00000-of-00001
  models/person_prediction_model/1/variables/variables.index
  predicted_attendance_category_per_day.csv
  predicted_attendance_per_day.csv
Labels: type: feature, For: backend, priority: high, effort: 2, platform: mobile, platform: web/desktop

#205 Fix/backend/fixing models
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/models/database.go
  occupi-backend/pkg/router/router.go
Labels: type: feature, For: api, priority: medium, effort: 3, type: task

#206 feat: Add query input validation and error handling in FilterUsers handler
  occupi-backend/pkg/handlers/api_handlers.go
Labels: type: fix, For: api, For: backend, priority: critical, effort: 2

#214 Feat/mobile/notifications
  .github/workflows/deploy-golang-develop.yml
  .github/workflows/deploy-golang-prod.yml
  documentation/occupi-docs/pages/api-documentation/api-usage.mdx
  frontend/occupi-mobile4/screens/Booking/ViewBookingDetails.tsx
  frontend/occupi-mobile4/screens/Office/BookingDetails.tsx
  frontend/occupi-mobile4/screens/Settings/NotifTester.tsx
  frontend/occupi-mobile4/utils/utils.tsx
  occupi-backend/cmd/occupi-backend/main.go
  occupi-backend/configs/config.go
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/dev.localhost.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/setup.go
  occupi-backend/configs/test.yaml.gpg
  occupi-backend/docker-compose.dev.yml
  occupi-backend/docker-compose.local.yml
  occupi-backend/docker-compose.prod.yml
  occupi-backend/go.mod
  occupi-backend/go.sum
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/pkg/handlers/auth_helpers.go
  occupi-backend/pkg/models/app.go
  occupi-backend/pkg/models/database.go
  occupi-backend/pkg/models/request.go
  occupi-backend/pkg/receiver/recieve.go
  occupi-backend/pkg/router/router.go
  occupi-backend/pkg/sender/send.go
  occupi-backend/pkg/utils/utils.go
  occupi-backend/tests/auth_handlers_test.go
  occupi-backend/tests/cache_test.go
  occupi-backend/tests/database_test.go
  occupi-backend/tests/handlers_test.go
  occupi-backend/tests/middleware_test.go
  occupi-backend/tests/utils_test.go
Labels: type: documentation, type: feature, type: fix, type: security, type: testing, For: api, For: backend, priority: medium

#218 chore: Refactor database connection and caching logic
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/dev.localhost.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/setup.go
  occupi-backend/configs/test.yaml.gpg
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/models/database.go
  occupi-backend/tests/database_test.go
Labels: type: feature, type: fix, For: api, For: backend, priority: critical, effort: 1, For: deployment

#223 Tests/backend/increasing codecov percentage
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/dev.localhost.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/test.yaml.gpg
  occupi-backend/pkg/authenticator/auth.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/pkg/handlers/auth_helpers.go
  occupi-backend/pkg/middleware/middleware.go
  occupi-backend/pkg/router/router.go
  occupi-backend/pkg/sender/send.go
  occupi-backend/pkg/utils/utils.go
  occupi-backend/tests/auth_handlers_test.go
  occupi-backend/tests/authenticator_test.go
  occupi-backend/tests/database_test.go
  occupi-backend/tests/handlers_test.go
  occupi-backend/tests/middleware_test.go
  occupi-backend/tests/utils_test.go
Labels: type: fix, type: testing, For: api, For: backend, effort: 5

#224 Feat/maestro/monthly
  datasets/Monthly_OfficeCapacity (1).csv
  datasets/Monthly_OfficeCapacity (2).csv
  maestro/monthly_ai.py
Labels: type: feature, priority: high, state: approved, effort: 8, type: task, platform: mobile, platform: web/desktop, For: deployment

#225 Chore/backend/security settings
  documentation/occupi-docs/pages/api-documentation.mdx
  documentation/occupi-docs/pages/api-documentation/api-usage.mdx
  documentation/occupi-docs/pages/api-documentation/auth-usage.mdx
  documentation/occupi-docs/pages/api-documentation/ping-usage.mdx
  documentation/occupi-docs/pages/coding-standards.mdx
  documentation/occupi-docs/pages/coding-standards/javascript-coding-standards.mdx
  documentation/occupi-docs/pages/coding-standards/python-coding-standards.mdx
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/pkg/handlers/auth_helpers.go
  occupi-backend/pkg/models/request.go
  occupi-backend/pkg/router/router.go
Labels: type: feature, type: fix, type: security, For: api, For: backend, priority: high, effort: 5

#228 I HATE docker so much ugh
  documentation/occupi-docs/pages/coding-standards/javascript-coding-standards.mdx
  documentation/occupi-docs/pages/coding-standards/python-coding-standards.mdx
Labels: type: documentation, effort: 1

#230 chore: Store the location in the context during TimezoneMiddleware
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/middleware/middleware.go
  occupi-backend/pkg/models/database.go
  occupi-backend/pkg/receiver/recieve.go
  occupi-backend/pkg/utils/utils.go
  occupi-backend/tests/middleware_test.go
  occupi-backend/tests/utils_test.go
Labels: type: chore, type: feature, type: fix, type: testing, For: api, For: backend, priority: medium, effort: 3

#231 chore: rewrote some backend logix and added some new endpoints
  documentation/occupi-docs/pages/api-documentation/api-usage.mdx
  occupi-backend/pkg/constants/constants.go
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/handlers/auth_helpers.go
  occupi-backend/pkg/models/database.go
  occupi-backend/pkg/models/request.go
  occupi-backend/pkg/router/router.go
  occupi-backend/tests/handlers_test.go
Labels: type: chore, type: feature, type: fix, type: security, For: api, For: backend, priority: high, effort: 5

#232 Fix/backend/fixing some broken code
  documentation/occupi-docs/pages/api-documentation/api-usage.mdx
  occupi-backend/.golangci.yml
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/pkg/models/database.go
  occupi-backend/pkg/models/request.go
  occupi-backend/pkg/router/router.go
Labels: type: documentation, type: chore, type: fix, For: api, For: backend, priority: medium, effort: 2

#234 Feat/backend/pfps
  documentation/occupi-docs/pages/api-documentation/api-usage.mdx
  occupi-backend/go.mod
  occupi-backend/go.sum
  occupi-backend/pkg/constants/constants.go
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/middleware/middleware.go
  occupi-backend/pkg/models/database.go
  occupi-backend/pkg/models/request.go
  occupi-backend/pkg/receiver/recieve.go
  occupi-backend/pkg/router/router.go
  occupi-backend/pkg/sender/send.go
  occupi-backend/pkg/utils/utils.go
Labels: type: feature, For: api, For: backend, priority: low, effort: 5

#226 Feat/maestro/monthly
  maestro/XGClassifier_monthly_ai.py
  maestro/XGRegessor_monthly_ai.py
Labels: type: feature, For: backend, priority: low, state: approved, effort: 1, platform: mobile, platform: web/desktop

#240 Feat/web/integration dashboard
  frontend/occupi-desktop/src/components/drawerComponent/DrawerComponent.test.tsx
  frontend/occupi-desktop/src/components/index.ts
  frontend/occupi-web/bun.lockb
  frontend/occupi-web/package.json
  frontend/occupi-web/src/AuthService.ts
  frontend/occupi-web/src/DataService.ts
  frontend/occupi-web/src/UserContext.tsx
  frontend/occupi-web/src/components/InputBox/InputBox.test.tsx
  frontend/occupi-web/src/components/OtpComponent/OtpComponent.test.tsx
  frontend/occupi-web/src/components/OtpComponent/OtpComponent.tsx
  frontend/occupi-web/src/components/OverviewComponent/Overview.test.tsx
  frontend/occupi-web/src/components/ProfileComponent/ProfileComponent.test.tsx
  frontend/occupi-web/src/components/ProfileComponent/ProfileComponent.tsx
  frontend/occupi-web/src/components/SideNavBarButton/SideNavBarButton.tsx
  frontend/occupi-web/src/components/appearance/Appearance.test.tsx
  frontend/occupi-web/src/components/bookingComponent/BookingComponent.tsx
  frontend/occupi-web/src/components/bookingComponent/BottomContent.tsx
  frontend/occupi-web/src/components/bookingComponent/TableCell.tsx
  frontend/occupi-web/src/components/bookingComponent/TableComponent.tsx
  frontend/occupi-web/src/components/bookingComponent/TopContent.tsx
  frontend/occupi-web/src/components/bookings/Bookings.tsx
  frontend/occupi-web/src/components/data/Data.test.tsx
  frontend/occupi-web/src/components/data/Data.tsx
  frontend/occupi-web/src/components/drawerComponent/DrawerComponent.test.tsx
  frontend/occupi-web/src/components/headerComponent/Header.test.tsx
  frontend/occupi-web/src/components/headerComponent/Header.tsx
  frontend/occupi-web/src/components/index.ts
  frontend/occupi-web/src/components/keyStats.tsx/KeyStats.test.tsx
  frontend/occupi-web/src/components/modal/Modal.test.tsx
  frontend/occupi-web/src/components/modal/Modal.tsx
  frontend/occupi-web/src/components/occupancyRatingChart/OccupancyRating.test.tsx
  frontend/occupi-web/src/components/occupancyRatingChart/OccupancyRating.tsx
  frontend/occupi-web/src/components/officePresentProbabilityChart/OfficePresent.test.tsx
  frontend/occupi-web/src/components/profileDropDown/ProfileDropDown.test.tsx
  frontend/occupi-web/src/components/profileDropDown/ProfileDropDown.tsx
  frontend/occupi-web/src/components/sideNavComponent/SideNav.tsx
  frontend/occupi-web/src/components/topNav/TopNav.tsx
  frontend/occupi-web/src/main.tsx
  frontend/occupi-web/src/pages/Login/LoginForm.test.tsx
  frontend/occupi-web/src/pages/Login/LoginForm.tsx
  frontend/occupi-web/src/pages/index.ts
  frontend/occupi-web/src/pages/otp-page/OtpPage.test.tsx
  frontend/occupi-web/src/pages/otp-page/OtpPage.tsx
  frontend/occupi-web/src/pages/visitations/Visitations.tsx
  frontend/occupi-web/src/useUserDetails.ts
  frontend/occupi-web/vite.config.ts
Labels: For: frontend, priority: medium, type: task, platform: web/desktop

#242 Feature/backend/model deployment
  maestro/Binary_ANN.py
  maestro/LSTM(1).py
  maestro/XGClassifier_monthly_ai.py
  maestro/XGRegessor_monthly_ai.py
  models/person_prediction_model/1/fingerprint.pb
  models/person_prediction_model/1/saved_model.pb
  models/person_prediction_model/1/variables/variables.data-00000-of-00001
  models/person_prediction_model/1/variables/variables.index
  python-code/Docker_Commands.txt
  python-code/Dockerfile
  python-code/__pycache__/prediction.cpython-312.pyc
  python-code/__pycache__/scaler.cpython-312.pyc
  python-code/app.py
  python-code/attendance_scaler.pkl
  python-code/models.config
  python-code/prediction.py
  python-code/requirements.txt
  python-code/scaler.py
Labels: type: feature, priority: high, For: deployment

#243 chore: Update .gitignore files and add coverage directory and some coverage collection logic
  .github/workflows/lint-test-build-golang.yml
  .github/workflows/lint-test-build-web.yml
  .github/workflows/lint-test-mobile.yml
  frontend/occupi-mobile4/.gitignore
  frontend/occupi-mobile4/package-lock.json
  frontend/occupi-mobile4/package.json
  frontend/occupi-web/.gitignore
  frontend/occupi-web/src/components/keyStats.tsx/KeyStats.test.tsx
  frontend/occupi-web/src/components/linechart/Line_Chat.test.tsx
  occupi-backend/pkg/utils/utils.go
  occupi-backend/tests/database_test.go
  occupi-backend/tests/utils_test.go
Labels: type: testing, For: frontend, For: backend, effort: 1, platform: mobile, platform: web/desktop

#245 Bringing changes downstream
  .github/workflows/build-and-release.yml
  .github/workflows/build-python.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/deploy-golang-develop.yml
  .github/workflows/deploy-golang-prod.yml
  .github/workflows/deploy-landing-page.yml
  .github/workflows/deploy-python.yml
  .github/workflows/deploy-web-develop.yml
  .github/workflows/deploy-web-prod.yml
  .github/workflows/lint-test-build-golang.yml
  .github/workflows/lint-test-build-web.yml
  .github/workflows/lint-test-mobile.yml
  .github/workflows/test-and-cov.yml
Labels: type: bringing changes downstream

#246 Test/backend/coverage database functions
  .github/workflows/build-python.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/deploy-golang-develop.yml
  .github/workflows/deploy-golang-prod.yml
  .github/workflows/deploy-landing-page.yml
  .github/workflows/deploy-python.yml
  .github/workflows/deploy-web-develop.yml
  .github/workflows/deploy-web-prod.yml
  .github/workflows/lint-test-build-golang.yml
  .github/workflows/lint-test-build-web.yml
  .github/workflows/lint-test-mobile.yml
  .github/workflows/test-and-cov.yml
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/handlers/auth_helpers.go
  occupi-backend/tests/cache_test.go
  occupi-backend/tests/database_test.go
Labels: type: testing, For: api, For: backend, priority: medium, effort: 5, For: deployment

#248 tests: now 550 passing tests and increasing code cov for the backend now
  .github/workflows/test-and-cov.yml
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/sender/send.go
  occupi-backend/tests/cache_test.go
  occupi-backend/tests/database_test.go
Labels: type: testing, For: backend, priority: medium, effort: 5

#251 Test/backend/coverage database functions
  occupi-backend/tests/cache_test.go
  occupi-backend/tests/database_test.go
Labels: type: testing, For: backend, priority: medium, effort: 5

#252 feat: Add functionality to add a rooms
  documentation/occupi-docs/pages/api-documentation/api-usage.mdx
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/handlers/auth_helpers.go
  occupi-backend/pkg/models/database.go
  occupi-backend/pkg/models/request.go
  occupi-backend/pkg/router/router.go
Labels: type: feature, For: api, For: backend, priority: medium, effort: 3

#250 Test/backend/coverage utils functions
  occupi-backend/pkg/utils/utils.go
  occupi-backend/tests/utils_test.go
Labels: type: bug, type: testing, For: backend, priority: critical, effort: 5, platform: mobile, platform: web/desktop
