Repository COS301-SE-2024/occupi, pull requests merged in 2024-08, with the labels that each got.

#259 Feature/backend/model deployment
  datasets/output.csv
  datasets/processor.py
  maestro/LSTM(1).py
  maestro/test.py
  models/Docker_Commands
  models/Dockerfile
  models/docker-compose.yml
  python-code/Docker_Commands.txt
  python-code/Dockerfile
  python-code/__pycache__/prediction.cpython-312.pyc
  python-code/__pycache__/scaler.cpython-312.pyc
  python-code/app.py
  python-code/docker-compose.yml
  python-code/models.config
  python-code/prediction.py
Labels: type: documentation, type: feature, priority: high, effort: 8, For: deployment

#262 Feat/backend/webauthn integration
  documentation/occupi-docs/pages/api-documentation/auth-usage.mdx
  occupi-backend/.gitignore
  occupi-backend/configs/config.go
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/dev.localhost.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/setup.go
  occupi-backend/configs/test.yaml.gpg
  occupi-backend/go.mod
  occupi-backend/go.sum
  occupi-backend/pkg/cache/cache.go
  occupi-backend/pkg/cache/cache_keys_gen.go
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/pkg/models/app.go
  occupi-backend/pkg/models/database.go
  occupi-backend/pkg/models/request.go
  occupi-backend/pkg/router/router.go
  occupi-backend/pkg/utils/utils.go
  occupi-backend/static/README.md
  occupi-backend/static/index.html
  occupi-backend/static/main.py
Labels: type: feature, type: security, For: api, For: backend, priority: high, effort: 8, platform: web/desktop, For: deployment

#267 feat'✨: after a long battle, webauthn works on web(locally)
  frontend/occupi-web/bun.lockb
  frontend/occupi-web/src/AuthService.ts
  frontend/occupi-web/src/pages/Login/LoginForm.tsx
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/dev.localhost.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/test.yaml.gpg
Labels: type: feature, type: security, For: frontend, For: api, For: backend, priority: high, effort: 5, platform: web/desktop

#275 Fix/GitHub/reducing sizeof git folder
  scripts/.gitignore
  scripts/discover-large-repo-files.sh
  scripts/pull-remote-branches.sh
Labels: type: fix, priority: critical, effort: 1

#276 Delete occupi-backend/samples/notifications directory
  occupi-backend/notifications/main.go
  occupi-backend/samples/notifications/main.go
  occupi-backend/static/README.md
  occupi-backend/static/index.html
  occupi-backend/static/main.py
Labels: type: chore

#271 Feat/web/dashboard creation
  frontend/occupi-web/bun.lockb
  frontend/occupi-web/package.json
  frontend/occupi-web/src/App.tsx
  frontend/occupi-web/src/AuthService.ts
  frontend/occupi-web/src/UserContext.tsx
  frontend/occupi-web/src/components/OverviewComponent/Overview.test.tsx
  frontend/occupi-web/src/components/aiDashboard/aiDashCard/AiDashCard.test.tsx
  frontend/occupi-web/src/components/aiDashboard/aiDashCard/AiDashCard.tsx
  frontend/occupi-web/src/components/aiDashboard/aiDashCard/DragItem.test.tsx
  frontend/occupi-web/src/components/aiDashboard/aiDashCard/DragItem.tsx
  frontend/occupi-web/src/components/aiDashboard/aiDashCard/DropZone.test.tsx
  frontend/occupi-web/src/components/aiDashboard/aiDashCard/DropZone.tsx
  frontend/occupi-web/src/components/aiDashboard/aiDashGraphs/AIDashGraphs.tsx
  frontend/occupi-web/src/components/aiDashboard/aiDashGraphs/CapacityComparisonGraph.tsx
  frontend/occupi-web/src/components/aiDashboard/aiDashGraphs/PredictedCapacityGraph.tsx
  frontend/occupi-web/src/components/aiDashboard/dashboardWizard/DashboardWizard.tsx
  frontend/occupi-web/src/components/bookingComponent/BookingComponent.tsx
  frontend/occupi-web/src/components/feedbackModal/FeedBackModal.test.tsx
  frontend/occupi-web/src/components/feedbackModal/FeedBackModal.tsx
  frontend/occupi-web/src/components/headerComponent/Header.test.tsx
  frontend/occupi-web/src/components/headerComponent/Header.tsx
  frontend/occupi-web/src/components/index.ts
  frontend/occupi-web/src/components/modal/Modal.test.tsx
  frontend/occupi-web/src/components/occupiLoader/OccupiLoader.test.tsx
  frontend/occupi-web/src/components/occupiLoader/OccupiLoader.tsx
  frontend/occupi-web/src/components/profileDropDown/ProfileDropDown.test.tsx
  frontend/occupi-web/src/components/profileDropDown/ProfileDropDown.tsx
  frontend/occupi-web/src/components/roomsComponent/RoomsComponent.tsx
  frontend/occupi-web/src/components/sideNavComponent/SideNav.tsx
  frontend/occupi-web/src/components/topNav/TopNav.tsx
  frontend/occupi-web/src/main.tsx
  frontend/occupi-web/src/pages/Login/LoginForm.tsx
  frontend/occupi-web/src/pages/aiDashboard/AiDashboard.tsx
  frontend/occupi-web/src/pages/index.ts
  frontend/occupi-web/src/pages/otp-page/OtpPage.tsx
  frontend/occupi-web/src/pages/rooms/Rooms.test.tsx
  frontend/occupi-web/src/pages/rooms/Rooms.tsx
  frontend/occupi-web/src/pages/visitations/Visitations.tsx
  frontend/occupi-web/src/userStore.tsx
Labels: type: feature, type: testing, For: frontend, priority: high, effort: 8

#281 Feature/backend/attendance counter
  .gitmodules
  occupi-backend/configs/.gitignore
  occupi-backend/configs/config.go
  occupi-backend/configs/config.json.gpg
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/dev.localhost.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/test.yaml.gpg
  occupi-backend/docker-compose.dev.yml
  occupi-backend/docker-compose.local.yml
  occupi-backend/docker-compose.localdev.yml
  occupi-backend/docker-compose.prod.yml
  occupi-backend/go.mod
  occupi-backend/go.sum
  occupi-backend/pkg/handlers/realtime_handlers.go
  occupi-backend/pkg/router/router.go
  occupi-backend/scripts/decrypt_env_variables.sh
  occupi-backend/scripts/encrypt_env_variables.sh
  occupi-backend/tests/load_test.go
  occupi-backend/tests/realtime_handlers_test.go
Labels: For: api, priority: high, effort: 5, type: task, For: deployment

#283 Fix/backend/fix config
  occupi-backend/configs/config.json.gpg
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/dev.localhost.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/test.yaml.gpg
  occupi-backend/docker-compose.dev.yml
  occupi-backend/docker-compose.local.yml
  occupi-backend/docker-compose.localdev.yml
  occupi-backend/docker-compose.prod.yml
Labels: For: api, For: backend, effort: 5, For: deployment

#285 chore: 🫨Stabilising backend with addition of centrifugo
  .github/workflows/deploy-golang-develop.yml
  .github/workflows/deploy-golang-prod.yml
  occupi-backend/configs/centrifugo.config.json.gpg
  occupi-backend/configs/config.go
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/dev.localhost.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/setup.go
  occupi-backend/configs/test.yaml.gpg
  occupi-backend/docker-compose.dev.yml
  occupi-backend/docker-compose.local.yml
  occupi-backend/docker-compose.localdev.yml
  occupi-backend/docker-compose.prod.yml
  occupi-backend/pkg/handlers/realtime_handlers.go
  occupi-backend/pkg/models/app.go
  occupi-backend/scripts/decrypt_env_variables.sh
  occupi-backend/scripts/encrypt_env_variables.sh
Labels: type: chore, type: fix, For: api, For: backend, priority: critical, priority: high, effort: 5, For: deployment

#287 Feat/mobile/occupancy integration
  frontend/occupi-mobile-backup/screens/Login/SignUp.tsx
  frontend/occupi-mobile4/components/LineGraph.tsx
  frontend/occupi-mobile4/components/__tests__/__snapshots__/NavBar-test.tsx.snap
  frontend/occupi-mobile4/models/data.ts
  frontend/occupi-mobile4/models/requests.ts
  frontend/occupi-mobile4/package-lock.json
  frontend/occupi-mobile4/package.json
  frontend/occupi-mobile4/screens/Booking/BookRoom.tsx
  frontend/occupi-mobile4/screens/Dashboard/Dashboard.tsx
  frontend/occupi-mobile4/screens/Login/OtpVerification.tsx
  frontend/occupi-mobile4/screens/Login/SignUp.tsx
  frontend/occupi-mobile4/screens/Login/SplashScreen.tsx
  frontend/occupi-mobile4/screens/Notifications/Notifications.tsx
  frontend/occupi-mobile4/screens/Notifications/__tests__/Notifications-test.tsx
  frontend/occupi-mobile4/screens/Settings/Appearance.tsx
  frontend/occupi-mobile4/screens/Settings/Notifications.tsx
  frontend/occupi-mobile4/screens/Settings/__tests__/NotifTester-test.tsx
  frontend/occupi-mobile4/screens/Settings/__tests__/Notification-test.tsx
  frontend/occupi-mobile4/services/aimodel.ts
  frontend/occupi-mobile4/services/apiservices.ts
  frontend/occupi-mobile4/services/authservices.ts
  frontend/occupi-mobile4/utils/__tests__/occupancy-test.tsx
  frontend/occupi-mobile4/utils/auth.ts
  frontend/occupi-mobile4/utils/bookings.ts
  frontend/occupi-mobile4/utils/dashboard.ts
  frontend/occupi-mobile4/utils/occupancy.ts
  frontend/occupi-mobile4/utils/settings.ts
  frontend/occupi-mobile4/utils/user.ts
Labels: For: frontend, priority: high, platform: mobile, For: integration

#288 Fix/mobile
  frontend/occupi-mobile4/screens/Login/CreatePassword.tsx
  frontend/occupi-mobile4/screens/Login/ForgotPassword.tsx
  frontend/occupi-mobile4/screens/Login/OtpVerification.tsx
  frontend/occupi-mobile4/screens/Login/SignIn.tsx
  frontend/occupi-mobile4/screens/Login/SignUp.tsx
  frontend/occupi-mobile4/screens/Login/SplashScreen.tsx
  frontend/occupi-mobile4/screens/Login/Welcome.tsx
  frontend/occupi-mobile4/screens/Login/assets/images/Occupi/Occupi-gradient.png
Labels: type: fix, For: frontend, effort: 2, platform: mobile

#292 Feat/web/settings page
  frontend/occupi-web/bun.lockb
  frontend/occupi-web/package.json
  frontend/occupi-web/src/App.tsx
  frontend/occupi-web/src/AuthService.ts
  frontend/occupi-web/src/CapacityService.ts
  frontend/occupi-web/src/NotificationsService.ts
  frontend/occupi-web/src/assets/icons/Upload.tsx
  frontend/occupi-web/src/assets/icons/UploadButton.tsx
  frontend/occupi-web/src/assets/index.ts
  frontend/occupi-web/src/components/aboutComponent/AboutComponent.tsx
  frontend/occupi-web/src/components/addRoomModal/AddRoomModal.tsx
  frontend/occupi-web/src/components/aiDashboard/aiDashGraphs/CapacityComparisonGraph.tsx
  frontend/occupi-web/src/components/appearance/Appearance.tsx
  frontend/occupi-web/src/components/barGraph/BarGraph.tsx
  frontend/occupi-web/src/components/editRoomModal/EditRoomModal.tsx
  frontend/occupi-web/src/components/headerComponent/Header.tsx
  frontend/occupi-web/src/components/index.ts
  frontend/occupi-web/src/components/linechart/Line_Chart.tsx
  frontend/occupi-web/src/components/notificationsModal/NotificationsModal.tsx
  frontend/occupi-web/src/components/profile/ProfileView.tsx
  frontend/occupi-web/src/components/profileDropDown/ProfileDropDown.test.tsx
  frontend/occupi-web/src/components/profileDropDown/ProfileDropDown.tsx
  frontend/occupi-web/src/components/radioBoxComponent/RadioBox.tsx
  frontend/occupi-web/src/components/securityComponent/Security.tsx
  frontend/occupi-web/src/components/sideNavComponent/SideNav.tsx
  frontend/occupi-web/src/components/tabComponent/TabComponent.test.tsx
  frontend/occupi-web/src/components/tabComponent/TabComponent.tsx
  frontend/occupi-web/src/pages/Login/LoginForm.tsx
  frontend/occupi-web/src/pages/about/AboutPage.tsx
  frontend/occupi-web/src/pages/aiDashboard/AiDashboard.tsx
  frontend/occupi-web/src/pages/index.ts
  frontend/occupi-web/src/pages/notificationsSettings/NotificationsSettings.tsx
  frontend/occupi-web/src/pages/reports/PDFReport.tsx
  frontend/occupi-web/src/pages/rooms/Rooms.tsx
  frontend/occupi-web/src/pages/securityPage/SecurityPage.tsx
  frontend/occupi-web/src/pages/settings-page/Settings.tsx
  frontend/occupi-web/src/pages/visitations/Visitations.tsx
  frontend/occupi-web/src/tests/intergration/AboutComponent.integration.test.tsx
  frontend/occupi-web/src/tests/intergration/AddRoomModal.intergration.test.tsx
  frontend/occupi-web/src/tests/setupTests.ts
  frontend/occupi-web/src/userStore.tsx
  frontend/occupi-web/tailwind.config.js
Labels: effort: 3

#294 Feat/web/settings page
  frontend/occupi-web/src/NotificationsService.ts
  frontend/occupi-web/src/components/addRoomModal/AddRoomModal.tsx
  frontend/occupi-web/src/components/notificationsModal/NotificationsModal.tsx
  frontend/occupi-web/src/components/profileDropDown/ProfileDropDown.tsx
  frontend/occupi-web/src/pages/rooms/Rooms.tsx
Labels: type: fix, For: frontend, priority: low, effort: 1, platform: web/desktop

#296 Feat/web/settings page
  frontend/occupi-web/bun.lockb
  frontend/occupi-web/src/AuthService.ts
  frontend/occupi-web/src/components/bookingComponent/BookingComponent.tsx
  frontend/occupi-web/src/pages/rooms/Rooms.tsx
Labels: type: bug, type: fix, For: frontend, effort: 2, platform: web/desktop

#302 Feature/ai/ai endpoints
  python-code/app.py
  python-code/docker-compose_1.yml
  python-code/requirements.txt
Labels: For: api, For: backend, effort: 3

#306 feat: Add monitoring and observability middleware
  occupi-backend/cmd/occupi-backend/main.go
  occupi-backend/configs/centrifugo.config.json.gpg
  occupi-backend/configs/config.go
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/dev.localhost.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/test.yaml.gpg
  occupi-backend/pkg/application/application.go
Labels: type: feature, For: backend, priority: medium, effort: 3, For: deployment

#308 Fix/web/protected routes fix
  frontend/occupi-web/bun.lockb
  frontend/occupi-web/src/App.tsx
  frontend/occupi-web/src/AuthService.ts
  frontend/occupi-web/src/components/profileDropDown/ProfileDropDown.tsx
Labels: For: frontend, effort: 3, effort: 5, For: deployment

#326 Fic Location-based check-in prompt
  frontend/occupi-mobile4/utils/dashboard.ts
Labels: type: fix, effort: 2, platform: mobile

#330 Enhancement/backend/location based auth
  occupi-backend/cmd/occupi-backend/main.go
  occupi-backend/go.mod
  occupi-backend/go.sum
  occupi-backend/pkg/cache/cache.go
  occupi-backend/pkg/constants/constants.go
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/database/database_helpers.go
  occupi-backend/pkg/handlers/auth_helpers.go
  occupi-backend/pkg/models/database.go
  occupi-backend/pkg/utils/utils.go
  occupi-backend/tests/database_test.go
Labels: type: feature, type: fix, type: security, type: testing, For: api, For: backend, priority: medium, status: pending, effort: 3

#333 Feature/ai/endpoints documentation
  documentation/occupi-docs/pages/api-documentation/ai-usage.mdx
  python-code/app.py
Labels: type: documentation, For: api, effort: 1, effort: 2, effort: 3

#334 Feat/backend/switching from bigcache to go redis
  frontend/occupi-mobile4/.gitignore
  frontend/occupi-mobile4/.gradle/8.1.1/checksums/checksums.lock
  frontend/occupi-mobile4/.gradle/8.1.1/dependencies-accessors/dependencies-accessors.lock
  frontend/occupi-mobile4/.gradle/8.1.1/dependencies-accessors/gc.properties
  frontend/occupi-mobile4/.gradle/8.1.1/fileChanges/last-build.bin
  frontend/occupi-mobile4/.gradle/8.1.1/fileHashes/fileHashes.lock
  frontend/occupi-mobile4/.gradle/8.1.1/gc.properties
  occupi-backend/configs/centrifugo.config.json.gpg
  occupi-backend/configs/config.go
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/dev.localhost.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/setup.go
  occupi-backend/configs/test.yaml.gpg
  occupi-backend/docker-compose.dev.yml
  occupi-backend/docker-compose.local.yml
  occupi-backend/docker-compose.localdev.yml
  occupi-backend/docker-compose.prod.yml
  occupi-backend/go.mod
  occupi-backend/go.sum
  occupi-backend/pkg/cache/cache.go
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/database/database_helpers.go
  occupi-backend/pkg/models/app.go
  occupi-backend/tests/auth_handlers_test.go
  occupi-backend/tests/cache_methods_unit_test.go
  occupi-backend/tests/cache_test.go
  occupi-backend/tests/database_test.go
  occupi-backend/tests/handlers_test.go
  occupi-backend/tests/middleware_test.go
Labels: type: feature, type: testing, For: api, For: backend, priority: medium, effort: 8

#336 Refactor/backend/mail switch to bcc headers
  occupi-backend/configs/centrifugo.config.json.gpg
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/dev.localhost.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/setup.go
  occupi-backend/configs/test.yaml.gpg
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/pkg/handlers/auth_helpers.go
  occupi-backend/pkg/mail/mail.go
  occupi-backend/pkg/models/app.go
  occupi-backend/tests/mail_test.go
  occupi-backend/tests/middleware_test.go
Labels: type: feature, type: fix, type: security, For: api, For: backend, priority: medium, effort: 5, For: deployment

#338 Feat/backend/block login spamming
  occupi-backend/pkg/cache/cache.go
  occupi-backend/pkg/cache/cache_keys_gen.go
  occupi-backend/pkg/constants/constants.go
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/pkg/handlers/auth_helpers.go
  occupi-backend/tests/cache_methods_unit_test.go
Labels: type: feature, type: security, type: testing, For: api, For: backend, priority: medium, effort: 5, platform: mobile, platform: web/desktop, For: deployment

#339 Tests/backend/tests
  occupi-backend/pkg/cache/cache.go
  occupi-backend/pkg/middleware/middleware.go
  occupi-backend/tests/cache_test.go
  occupi-backend/tests/database_test.go
  occupi-backend/tests/middleware_test.go
  occupi-backend/tests/utils_test.go
Labels: type: testing, For: backend

#342 Feat/backend/migrating image storage to azureblobs
  documentation/occupi-docs/pages/api-documentation/api-usage.mdx
  occupi-backend/configs/centrifugo.config.json.gpg
  occupi-backend/configs/config.go
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/dev.localhost.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/setup.go
  occupi-backend/configs/test.yaml.gpg
  occupi-backend/go.mod
  occupi-backend/go.sum
  occupi-backend/pkg/cache/cache.go
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/handlers/api_helpers.go
  occupi-backend/pkg/models/app.go
  occupi-backend/pkg/models/database.go
  occupi-backend/pkg/models/request.go
  occupi-backend/pkg/router/router.go
  occupi-backend/pkg/utils/utils.go
  occupi-backend/tests/cache_test.go
  occupi-backend/tests/utils_test.go
Labels: type: documentation, type: feature, type: fix, type: testing, For: api, For: backend, priority: high, effort: 5, For: deployment

#343 Tests/backend/tests
  occupi-backend/tests/database_test.go
Labels: type: testing, effort: 5

#344 Bringing changes downstream
  documentation/occupi-docs/pages/api-documentation/api-usage.mdx
  occupi-backend/configs/centrifugo.config.json.gpg
  occupi-backend/configs/config.go
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/dev.localhost.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/setup.go
  occupi-backend/configs/test.yaml.gpg
  occupi-backend/go.mod
  occupi-backend/go.sum
  occupi-backend/pkg/cache/cache.go
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/handlers/api_helpers.go
  occupi-backend/pkg/models/app.go
  occupi-backend/pkg/models/database.go
  occupi-backend/pkg/models/request.go
  occupi-backend/pkg/router/router.go
  occupi-backend/pkg/utils/utils.go
  occupi-backend/tests/cache_test.go
  occupi-backend/tests/utils_test.go
Labels: type: bringing changes downstream

#347 Tests/backend/tests
  occupi-backend/pkg/database/database.go
  occupi-backend/tests/database_test.go
Labels: type: testing

#349 Feature/ai/recommendations
  python-code/app.py
Labels: For: frontend, For: api, For: backend, effort: 1, effort: 2, effort: 3
