Repository COS301-SE-2024/occupi, pull requests merged in 2024-06, with the labels that each got.

#28 Feat/backend/refactor backend code
  occupi-backend/README.md
  occupi-backend/cmd/occupi-backend/main.go
  occupi-backend/occupi.bat
  occupi-backend/occupi.sh
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/pkg/handlers/callback_handlers.go
  occupi-backend/pkg/mail/email_format.go
  occupi-backend/pkg/middleware/middleware.go
  occupi-backend/pkg/models/app.go
  occupi-backend/pkg/router/router.go
  occupi-backend/pkg/utils/utils.go
Labels: type: documentation, type: chore, For: backend, status: pending, effort: 5, type: task

#23 Update pull_request_template.md
  pull_request_template.md
Labels: type: documentation, type: feature, priority: high, status: pending

#29 Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/lint-test-build-golang.yml
Labels: type: documentation

#32 Deleting root files
  .expo/README.md
  .expo/settings.json
  package-lock.json
  package.json
  tailwind.config.js
Labels: type: chore, effort: 1

#33 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: type: documentation

#35 Update lint-test-build-golang.yml
  .github/workflows/lint-test-build-golang.yml
Labels: type: documentation

#36 Chore: commented out test that uses env variables
  .github/workflows/lint-test-build-golang.yml
  occupi-backend/tests/handlers_test.go
Labels: type: fix, For: api, For: backend, status: pending, effort: 1

#37 chore: Update test commands to include code coverage for codecov
  .github/workflows/lint-test-build-golang.yml
  occupi-backend/occupi.bat
  occupi-backend/occupi.sh
  occupi-backend/pkg/utils/utils.go
Labels: type: documentation, type: chore

#39 Testing occupi-mobile
  .github/workflows/test-mobile.yml
  frontend/occupi-mobile3/.babelrc
  frontend/occupi-mobile3/__tests__/Dashboard_Test/Bookings.test.js
  frontend/occupi-mobile3/__tests__/Dashboard_Test/Dashboard.test.js
  frontend/occupi-mobile3/__tests__/Login_Test/CreatePassword.test.js
  frontend/occupi-mobile3/__tests__/Login_Test/ForgotPassword.test.js
  frontend/occupi-mobile3/__tests__/Login_Test/Onboarding1.test.js
  frontend/occupi-mobile3/__tests__/Login_Test/Onboarding2.test.js
  frontend/occupi-mobile3/__tests__/Login_Test/Onboarding3.test.js
  frontend/occupi-mobile3/__tests__/Login_Test/OtpVerification.test.js
  frontend/occupi-mobile3/__tests__/Login_Test/SignIn.test.js
  frontend/occupi-mobile3/__tests__/Login_Test/SignUp.test.js
  frontend/occupi-mobile3/__tests__/Login_Test/SplashScreen.test.js
  frontend/occupi-mobile3/__tests__/Login_Test/Welcome.test.js
  frontend/occupi-mobile3/__tests__/Profile_Test/Profile.test.js
  frontend/occupi-mobile3/__tests__/Profile_Test/Settings.test.js
  frontend/occupi-mobile3/babel.config.js
  frontend/occupi-mobile3/jestSetup.js
  frontend/occupi-mobile3/metro.config.js
  frontend/occupi-mobile3/package-lock.json
  frontend/occupi-mobile3/package.json
  frontend/occupi-mobile3/screens/Dashboard/Bookings.tsx
Labels: type: documentation, type: testing, status: pending, effort: 3

#41 chore: Update workflow name to include linting and testing for golang
  .github/workflows/lint-test-build-golang.yml
  CONTRIBUTING.md
  README.md
Labels: type: documentation

#46 Feat/backend/rate limit api
  .github/workflows/lint-test-build-golang.yml
  occupi-backend/cmd/occupi-backend/main.go
  occupi-backend/coverage.out
  occupi-backend/go.mod
  occupi-backend/go.sum
  occupi-backend/occupi.bat
  occupi-backend/occupi.sh
  occupi-backend/pkg/middleware/middleware.go
  occupi-backend/tests/handlers_test.go
Labels: type: feature, type: security, type: testing, For: api, For: backend, priority: medium, status: pending, effort: 2

#47 Update lint-test-build-golang.yml
  .github/workflows/lint-test-build-golang.yml
Labels: type: chore, effort: 1, type: task

#49 chore: fix linting, test and build errors
  occupi-backend/go.mod
  occupi-backend/go.sum
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/middleware/middleware.go
Labels: type: chore, type: fix, For: backend, effort: 1

#58 Booking functionality frontend
  frontend/occupi-mobile/hooks/useColorScheme.ts
  frontend/occupi-mobile/hooks/useColorScheme.web.ts
  frontend/occupi-mobile/hooks/useThemeColor.ts
  frontend/occupi-mobile3/.babelrc
  frontend/occupi-mobile3/__tests__/Dashboard_Test/Bookings.test.js
  frontend/occupi-mobile3/__tests__/Dashboard_Test/Dashboard.test.js
  frontend/occupi-mobile3/__tests__/Login_Test/CreatePassword.test.js
  frontend/occupi-mobile3/__tests__/Login_Test/ForgotPassword.test.js
  frontend/occupi-mobile3/__tests__/Login_Test/Onboarding1.test.js
  frontend/occupi-mobile3/__tests__/Login_Test/Onboarding2.test.js
  frontend/occupi-mobile3/__tests__/Login_Test/Onboarding3.test.js
  frontend/occupi-mobile3/__tests__/Login_Test/OtpVerification.test.js
  frontend/occupi-mobile3/__tests__/Login_Test/SignIn.test.js
  frontend/occupi-mobile3/__tests__/Login_Test/SignUp.test.js
  frontend/occupi-mobile3/__tests__/Login_Test/SplashScreen.test.js
  frontend/occupi-mobile3/__tests__/Login_Test/Welcome.test.js
  frontend/occupi-mobile3/__tests__/Profile_Test/Profile.test.js
  frontend/occupi-mobile3/__tests__/Profile_Test/Settings.test.js
  frontend/occupi-mobile3/app.json
  frontend/occupi-mobile3/app/_layout.tsx
  frontend/occupi-mobile3/app/booking-details.tsx
  frontend/occupi-mobile3/app/booking-receipt.tsx
  frontend/occupi-mobile3/app/bookings.tsx
  frontend/occupi-mobile3/app/office-details.tsx
  frontend/occupi-mobile3/app/viewbookings.tsx
  frontend/occupi-mobile3/babel.config.js
  frontend/occupi-mobile3/bun.lockb
  frontend/occupi-mobile3/components/BookingsSort.tsx
  frontend/occupi-mobile3/components/NavBar.tsx
  frontend/occupi-mobile3/jest.setup.js
  frontend/occupi-mobile3/package-lock.json
  frontend/occupi-mobile3/package.json
  frontend/occupi-mobile3/screens/Booking/BookRoom.tsx
  frontend/occupi-mobile3/screens/Booking/ViewBookings.tsx
  frontend/occupi-mobile3/screens/Dashboard/Bookings.tsx
  frontend/occupi-mobile3/screens/Dashboard/Dashboard.tsx
  frontend/occupi-mobile3/screens/Dashboard/__tests__/Bookings.test.tsx
  frontend/occupi-mobile3/screens/Dashboard/assets/image.png
  frontend/occupi-mobile3/screens/Login/CreatePassword.tsx
  frontend/occupi-mobile3/screens/Login/ForgotPassword.tsx
  frontend/occupi-mobile3/screens/Login/Onboarding1.tsx
  frontend/occupi-mobile3/screens/Login/Onboarding2.tsx
  frontend/occupi-mobile3/screens/Login/Onboarding3.tsx
  frontend/occupi-mobile3/screens/Login/OtpVerification.tsx
  frontend/occupi-mobile3/screens/Login/SignIn.tsx
  frontend/occupi-mobile3/screens/Login/SignUp.tsx
  frontend/occupi-mobile3/screens/Login/SplashScreen.tsx
  frontend/occupi-mobile3/screens/Login/Welcome.tsx
  frontend/occupi-mobile3/screens/Office/BookingDetails.tsx
  frontend/occupi-mobile3/screens/Office/BookingReceipt.tsx
  frontend/occupi-mobile3/screens/Office/OfficeDetails.tsx
  frontend/occupi-mobile3/screens/Office/availableSlots.json
  frontend/occupi-mobile3/screens/Office/calendarConfig.js
  frontend/occupi-mobile3/screens/Profile/Profile.tsx
  frontend/occupi-mobile3/screens/Profile/Settings.tsx
  occupi-backend/cmd/occupi-backend/main.go
  occupi-backend/go.mod
  occupi-backend/go.sum
Labels: type: feature, For: frontend, effort: 8, platform: mobile

#60 Feat/backend/deployment and up
  .github/workflows/build-and-release.yml
  .github/workflows/deploy-golang-develop.yml
  .github/workflows/deploy-golang-prod.yml
  .github/workflows/lint-test-build-golang.yml
  occupi-backend/.dev.env.gpg
  occupi-backend/.dockerignore
  occupi-backend/.prod.env.gpg
  occupi-backend/Dockerfile.dev
  occupi-backend/Dockerfile.prod
  occupi-backend/cmd/occupi-backend/main.go
  occupi-backend/configs/config.go
  occupi-backend/coverage.out
  occupi-backend/docker-compose.dev.yml
  occupi-backend/docker-compose.prod.yml
  occupi-backend/docker-compose.yml
  occupi-backend/nginx.conf
Labels: type: feature, type: security, For: api, For: backend, priority: high, status: pending, effort: 8, type: task

#61 chore: Update TLS configuration in main.go to use certificate and key files
  .github/workflows/deploy-golang-develop.yml
  .github/workflows/deploy-golang-prod.yml
  .github/workflows/lint-test-build-golang.yml
  occupi-backend/.env.gpg
  occupi-backend/cert.pem.gpg
  occupi-backend/cmd/occupi-backend/main.go
  occupi-backend/key.pem.gpg
  occupi-backend/tests/handlers_test.go
Labels: type: chore, type: fix, For: api, For: backend, priority: high, status: pending, effort: 2, type: task

#62 chore: Update deploy docs logic to deploy to vm
  .github/workflows/deploy-docs.yml
  documentation/occupi-docs/Dockerfile
  documentation/occupi-docs/docker-compose.yml
  documentation/occupi-docs/next.config.js
  documentation/occupi-docs/package.json
Labels: type: documentation, type: feature, For: api, priority: low, effort: 2

#63 chore: Update next.config.js for documentation deployment
  documentation/occupi-docs/next.config.js
  documentation/occupi-docs/package.json
Labels: type: bug, type: documentation, type: chore, type: fix, priority: low, effort: 1

#66 Chore/documentation/updating readme
  .github/workflows/build-and-release.yml
  Images/IMG_9675_1.jpg
  Images/IMG_9675_12.jpg
  Images/Kamo.jpg
  Images/WhatsApp Image 2024-06-03 at 13.12.54_a03fd102.jpg
  Images/img.prof.jpg
  README.md
  images/carey.png
  images/kamo.png
  images/michael.2ec9e9b641d2074348ec (1).jpg
  images/michael.png
  images/retha.png
  images/tinashe.png
Labels: type: documentation, type: chore, type: fix, effort: 1

#69 Fix/backend/session management for auth
  .github/workflows/deploy-golang-develop.yml
  .github/workflows/deploy-golang-prod.yml
  .github/workflows/lint-test-build-golang.yml
  documentation/occupi-docs/pages/api-documentation/api-usage.mdx
  documentation/occupi-docs/theme.config.jsx
  occupi-backend/.dev.env.gpg
  occupi-backend/.env.gpg
  occupi-backend/.prod.env.gpg
  occupi-backend/configs/config.go
  occupi-backend/go.mod
  occupi-backend/go.sum
  occupi-backend/occupi.bat
  occupi-backend/occupi.sh
  occupi-backend/pkg/authenticator/auth.go
  occupi-backend/pkg/constants/constants.go
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/pkg/handlers/callback_handlers.go
  occupi-backend/pkg/middleware/middleware.go
  occupi-backend/pkg/models/app.go
  occupi-backend/pkg/router/router.go
  occupi-backend/pkg/utils/utils.go
  occupi-backend/tests/authenticator_test.go
  occupi-backend/tests/handlers_test.go
  occupi-backend/tests/middleware_test.go
Labels: type: chore, type: feature, type: fix, type: security, type: testing, For: api, For: backend, priority: critical, status: pending, effort: 5, type: task

#71 chore: Add some more edge cases to session management for users login and logout sessions
  occupi-backend/.dev.env.gpg
  occupi-backend/.env.gpg
  occupi-backend/.prod.env.gpg
  occupi-backend/configs/config.go
  occupi-backend/pkg/authenticator/auth.go
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/pkg/middleware/middleware.go
  occupi-backend/tests/authenticator_test.go
  occupi-backend/tests/handlers_test.go
Labels: type: bug, type: fix, type: security, For: api, For: backend, priority: critical, effort: 5

#76 Feat/frontend/containerizing and ci/cd landing page
  documentation/occupi-docs/pages/api-documentation.mdx
  frontend/occupi/Dockerfile
  frontend/occupi/bun.lockb
  frontend/occupi/next.config.js
  frontend/occupi/package-lock.json
  frontend/occupi/package.json
Labels: type: fix, For: frontend, effort: 1

#79 Chore/backend/adding codecov tests
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/middleware/middleware.go
  occupi-backend/pkg/router/router.go
  occupi-backend/tests/authenticator_test.go
  occupi-backend/tests/middleware_test.go
Labels: type: chore, type: testing, For: backend

#87 chore: Remove unused mobile test workflow
  .github/workflows/lint-test-mobile.yml
  .github/workflows/test-mobile.yml
Labels: type: chore, For: frontend, effort: 1, platform: mobile

#92 Fix/backend/mongo test db
  .github/workflows/deploy-golang-develop.yml
  .github/workflows/deploy-golang-prod.yml
  .github/workflows/lint-test-build-golang.yml
  occupi-backend/.test.env.gpg
  occupi-backend/data/test_data.json
  occupi-backend/occupi.bat
  occupi-backend/occupi.sh
  occupi-backend/pkg/constants/constants.go
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/database/seed.go
  occupi-backend/tests/authenticator_test.go
  occupi-backend/tests/handlers_test.go
  occupi-backend/tests/main_test.go
  occupi-backend/tests/middleware_test.go
  presentation/Occupi/occupi-gradient.png
Labels: type: fix, type: testing, For: api, For: backend, effort: 5

#100 chore: Add /benchmarks to .gitignore
  .gitignore
Labels: type: documentation, For: backend, effort: 1

#101 Feat/documentation/adding monitoring badges
  .gitignore
  README.md
  documentation/occupi-docs/pages/index.mdx
Labels: type: documentation, type: chore, type: feature, effort: 1

#105 Fix/backend/reorganizing env environments
  .github/workflows/deploy-golang-develop.yml
  .github/workflows/deploy-golang-prod.yml
  .github/workflows/lint-test-build-golang.yml
  occupi-backend/.dev.env.gpg
  occupi-backend/.env.gpg
  occupi-backend/.prod.env.gpg
  occupi-backend/.test.env.gpg
  occupi-backend/Dockerfile.dev
  occupi-backend/Dockerfile.prod
  occupi-backend/cert.pem.gpg
  occupi-backend/cmd/occupi-backend/main.go
  occupi-backend/configs/.gitignore
  occupi-backend/configs/config.go
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/test.yaml.gpg
  occupi-backend/go.mod
  occupi-backend/go.sum
  occupi-backend/key.pem.gpg
  occupi-backend/occupi.bat
  occupi-backend/occupi.sh
  occupi-backend/pkg/constants/constants.go
  occupi-backend/tests/main_test.go
Labels: type: chore, type: fix, type: testing, For: api, For: backend, priority: low, status: pending, effort: 5, type: task

#108 chore: Update cookie expiration time to use time.Until() instead of int(expirationTime.Unix())
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/dev.localhost.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/test.yaml.gpg
  occupi-backend/pkg/handlers/auth_handlers.go
Labels: For: api, For: backend, effort: 1

#109 chore: Update OTP expiration time handling and added explicit payload validation
  documentation/occupi-docs/pages/api-documentation/api-usage.mdx
  documentation/occupi-docs/pages/index.mdx
  occupi-backend/configs/config.go
  occupi-backend/configs/config.yaml.gpg
  occupi-backend/configs/dev.deployed.yaml.gpg
  occupi-backend/configs/dev.localhost.yaml.gpg
  occupi-backend/configs/prod.yaml.gpg
  occupi-backend/configs/test.yaml.gpg
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/pkg/mail/email_format.go
  occupi-backend/pkg/models/request.go
  occupi-backend/pkg/utils/utils.go
  occupi-backend/tests/utils_test.go
Labels: type: chore, type: fix, type: security, type: testing, For: api, For: backend, priority: low, effort: 2

#118 Fix/backend/unit tests database functions
  .github/workflows/deploy-golang-develop.yml
  .github/workflows/deploy-golang-prod.yml
  .github/workflows/lint-test-build-golang.yml
  occupi-backend/.golangci.yml
  occupi-backend/cmd/occupi-backend/main.go
  occupi-backend/configs/setup.go
  occupi-backend/go.mod
  occupi-backend/go.sum
  occupi-backend/occupi.bat
  occupi-backend/occupi.sh
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/models/request.go
  occupi-backend/pkg/utils/utils.go
  occupi-backend/tests/database_test.go
  occupi-backend/tests/handlers_test.go
  occupi-backend/tests/main_test.go
  occupi-backend/tests/middleware_test.go
  occupi-backend/tests/utils_test.go
Labels: type: fix, type: testing, For: backend, priority: high, status: pending, effort: 5
