Repository COS301-SE-2024/occupi, pull requests merged in 2024-09, with the labels that each got.

#350 Feat/backend/deep user based analytics
  documentation/occupi-docs/pages/api-documentation/analytics.mdx
  documentation/occupi-docs/pages/api-documentation/api-usage.mdx
  documentation/occupi-docs/pages/api-documentation/auth-usage.mdx
  occupi-backend/cmd/occupi-backend/main.go
  occupi-backend/configs/config.go
  occupi-backend/pkg/analytics/analytics.go
  occupi-backend/pkg/application/application.go
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/database/database_helpers.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/middleware/middleware.go
  occupi-backend/pkg/models/database.go
  occupi-backend/pkg/models/request.go
  occupi-backend/pkg/router/router.go
  occupi-backend/pkg/utils/utils.go
  occupi-backend/tests/database_test.go
  occupi-backend/tests/middleware_test.go
  occupi-backend/tests/utils_test.go
Labels: type: documentation, type: feature, type: testing, For: api, For: backend, priority: medium, effort: 8, For: deployment

#355 Feat/backend/deep user based analytics
  .github/workflows/lint-test-build-golang.yml
  .github/workflows/test-and-cov.yml
  documentation/occupi-docs/pages/api-documentation/analytics-usage.mdx
  occupi-backend/configs/config.go
  occupi-backend/occupi.bat
  occupi-backend/occupi.sh
  occupi-backend/pkg/analytics/analytics.go
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/database/database_helpers.go
  occupi-backend/tests/analytics_test.go
  occupi-backend/tests/database_test.go
Labels: type: documentation, type: feature, type: fix, type: testing, For: api, For: backend, priority: medium, status: pending, effort: 5, For: deployment

#357 Feature/backend/self implemented counter
  frontend/occupi-web/bun.lockb
  frontend/occupi-web/package.json
  frontend/occupi-web/src/AuthService.ts
  frontend/occupi-web/src/CapacityService.ts
  frontend/occupi-web/src/CentrifugoService.ts
  frontend/occupi-web/src/components/OverviewComponent/Overview.test.tsx
  frontend/occupi-web/src/components/OverviewComponent/OverviewComponent.tsx
  occupi-backend/configs/setup.go
  occupi-backend/go.mod
  occupi-backend/go.sum
  occupi-backend/pkg/handlers/api_helpers.go
  occupi-backend/pkg/handlers/realtime_handlers.go
  occupi-backend/pkg/models/app.go
  occupi-backend/pkg/router/router.go
Labels: For: frontend, For: api, For: backend, priority: high, effort: 3, effort: 5, platform: web/desktop, For: deployment, For: integration

#362 Feat/backend/create user
  documentation/occupi-docs/pages/api-documentation/api-usage.mdx
  occupi-backend/configs/setup.go
  occupi-backend/images/default_bm1.jpg
  occupi-backend/images/default_bw1.jpg
  occupi-backend/images/default_bw2.jpg
  occupi-backend/images/default_nb1.jpg
  occupi-backend/images/default_wm1.jpg
  occupi-backend/images/default_wm2.jpg
  occupi-backend/images/default_wm3.jpg
  occupi-backend/images/default_wm4.jpg
  occupi-backend/images/default_ww1.jpg
  occupi-backend/images/default_ww2.jpg
  occupi-backend/images/default_ww3.jpg
  occupi-backend/images/default_ww4.jpg
  occupi-backend/images/emproom.jpg
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/database/database_helpers.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/handlers/api_helpers.go
  occupi-backend/pkg/handlers/auth_helpers.go
  occupi-backend/pkg/models/database.go
  occupi-backend/pkg/models/request.go
  occupi-backend/pkg/router/router.go
  occupi-backend/pkg/utils/utils.go
  occupi-backend/tests/database_test.go
  occupi-backend/tests/utils_test.go
Labels: type: feature, type: security, type: testing, For: api, For: backend, priority: medium, effort: 8

#364 Feat/backend/booking analytics
  documentation/occupi-docs/pages/api-documentation/analytics-usage.mdx
  occupi-backend/pkg/analytics/analytics.go
  occupi-backend/pkg/database/database.go
  occupi-backend/pkg/database/database_helpers.go
  occupi-backend/pkg/handlers/api_handlers.go
  occupi-backend/pkg/models/database.go
  occupi-backend/pkg/models/request.go
  occupi-backend/pkg/router/router.go
  occupi-backend/tests/analytics_test.go
  occupi-backend/tests/database_test.go
Labels: type: feature, type: testing, For: api, For: backend, priority: high, effort: 5

#367 Feat/backend/limit login to one mobile device
  occupi-backend/configs/setup.go
  occupi-backend/pkg/cache/cache.go
  occupi-backend/pkg/cache/cache_keys_gen.go
  occupi-backend/pkg/database/database_helpers.go
  occupi-backend/pkg/handlers/auth_handlers.go
  occupi-backend/pkg/handlers/auth_helpers.go
  occupi-backend/pkg/middleware/middleware.go
  occupi-backend/pkg/models/app.go
  occupi-backend/pkg/models/database.go
  occupi-backend/pkg/router/router.go
  occupi-backend/pkg/utils/utils.go
  occupi-backend/tests/cache_test.go
  occupi-backend/tests/database_test.go
  occupi-backend/tests/middleware_test.go
  occupi-backend/tests/utils_test.go
Labels: type: security, type: testing, For: api, For: backend, priority: high, effort: 5

#370 Feature/ai/hourly predictions
  frontend/occupi-mobile4/package.json
  frontend/occupi-mobile4/screens/Dashboard/Dashboard.tsx
  frontend/occupi-mobile4/yarn.lock
  maestro/Hourly.py
  maestro/warmup_data(2).py
  python-code/__pycache__/prediction.cpython-312.pyc
  python-code/app.py
  python-code/docker-compose.yml
  python-code/docker-compose_1.yml
  python-code/hourly_scaler.pkl
  python-code/models/attendance_model.h5
  python-code/models/attendance_model/1/assets.extra/tf_serving_warmup_requests
  python-code/models/attendance_model/1/fingerprint.pb
  python-code/models/attendance_model/1/saved_model.pb
  python-code/models/attendance_model/1/variables/variables.data-00000-of-00001
  python-code/models/attendance_model/1/variables/variables.index
  python-code/models/hourly_predictions/1/fingerprint.pb
  python-code/models/hourly_predictions/1/saved_model.pb
  python-code/models/hourly_predictions/1/variables/variables.data-00000-of-00001
  python-code/models/hourly_predictions/1/variables/variables.index
  python-code/prediction.py
  python-code/scaler.py
Labels: For: frontend, priority: high, effort: 8, type: task, For: deployment, For: integration

#369 Feat/web/global search
  frontend/occupi-web/bun.lockb
  frontend/occupi-web/package.json
  frontend/occupi-web/src/components/globalSearch/GlobalSearch.tsx
  frontend/occupi-web/src/components/globalSearch/SearchContent.ts
  frontend/occupi-web/src/components/index.ts
  frontend/occupi-web/src/components/sideNavComponent/SideNav.tsx
  frontend/occupi-web/src/components/topNav/TopNav.tsx
  frontend/occupi-web/src/pages/Dashboard/Dashboard.tsx
  frontend/occupi-web/src/pages/settings-page/Settings.tsx
Labels: type: feature, type: fix, For: Figma and UX, priority: medium, effort: 5, platform: web/desktop

#400 Feature/web/hourly predictions and recommendations
  frontend/occupi-web/src/CapacityService.ts
  frontend/occupi-web/src/components/aiDashboard/aiDashGraphs/HourlyComparisonGraph.tsx
  frontend/occupi-web/src/components/aiDashboard/aiDashGraphs/HourlyPredictionGraph.tsx
  frontend/occupi-web/src/components/index.ts
  frontend/occupi-web/src/pages/aiDashboard/AiDashboard.tsx
  python-code/app.py
Labels: type: feature, For: frontend, state: approved, effort: 5, platform: web/desktop, For: integration

#403 Refactor WorkRatioChart and ActiveEmployeeCard components-Exhausted B…
  frontend/occupi-web/src/components/aiDashboard/aiDashGraphs/BookingLevelCalendar.tsx
  frontend/occupi-web/src/components/aiDashboard/aiDashGraphs/BuildingTower.tsx
  frontend/occupi-web/src/components/workerStats/ActiveEmployeeCard.tsx
  frontend/occupi-web/src/components/workerStats/AverageHoursChart.tsx
  frontend/occupi-web/src/components/workerStats/HoursDashboard.tsx
  frontend/occupi-web/src/components/workerStats/LeastActiveEmployeeCard.tsx
  frontend/occupi-web/src/components/workerStats/PeakOfficeHoursChart.tsx
  frontend/occupi-web/src/components/workerStats/WorkRatioChart.tsx
  frontend/occupi-web/src/pages/worker-dash/WorkerDashboard.tsx
Labels: type: chore, type: fix, For: frontend, priority: medium, effort: 5, platform: web/desktop, For: integration

#404 Feature/web/recommendations
  frontend/occupi-web/package-lock.json
  frontend/occupi-web/package.json
  frontend/occupi-web/src/CapacityService.ts
  frontend/occupi-web/src/RecommendationService.ts
  frontend/occupi-web/src/components/index.ts
  frontend/occupi-web/src/components/recommendationModal/occupi-gradient.png
  frontend/occupi-web/src/components/recommendationModal/recommendationModal.tsx
  frontend/occupi-web/src/pages/aiDashboard/AiDashboard.tsx
Labels: type: feature, priority: medium, effort: 5, platform: web/desktop, For: deployment, For: integration

#406 Documentation/python/coding standards
  documentation/Coding Standards/Python-Coding-Standards.pdf
  documentation/Coding Standards/Python-Coding-Standards.tex
  documentation/Coding Standards/logo-white.png
  documentation/SRS-Docs/SRS.pdf
  documentation/SRS-Docs/SRS.synctex.gz
  presentation/diagrams/Predictive_Model_Use_Case.jpg
Labels: type: documentation, priority: low, effort: 3

#411 Fix/web/minor fixes
  frontend/occupi-web/src/components/bookingComponent/BookingComponent.tsx
  frontend/occupi-web/src/components/modal/AvgArrDep.tsx
  frontend/occupi-web/src/components/modal/Modal.tsx
  frontend/occupi-web/src/components/modal/UserPeakOfficeHoursChart.tsx
  frontend/occupi-web/src/components/modal/UserStatsReport.tsx
  frontend/occupi-web/src/components/modal/UserStatsTypes.ts
  frontend/occupi-web/src/components/modal/UserWorkRatioChart.tsx
  frontend/occupi-web/src/components/modal/userHoursCharts.tsx
  frontend/occupi-web/src/userStatsService.ts
Labels: effort: 2

#412 added role change stuff
  frontend/occupi-web/bun.lockb
  frontend/occupi-web/src/components/OverviewComponent/OverviewComponent.tsx
  frontend/occupi-web/src/components/aiDashboard/aiDashGraphs/BuildingTower.tsx
  frontend/occupi-web/src/components/bookingComponent/BookingComponent.tsx
  frontend/occupi-web/src/components/currentBookings/CurrentBookingsBento.tsx
  frontend/occupi-web/src/components/historicalBookings/HistoricalBookingsBento.tsx
  frontend/occupi-web/src/components/modal/Modal.tsx
  frontend/occupi-web/src/components/recommendationModal/recommendationModal.tsx
  frontend/occupi-web/src/pages/Locations-page/LocationPage.tsx
  frontend/occupi-web/src/pages/aiDashboard/AiDashboard.tsx
Labels: type: chore, type: fix, priority: low, effort: 2, platform: mobile, platform: web/desktop, For: integration

#414 Fix/web/minor fixes
  frontend/occupi-web/src/components/bookingComponent/BookingComponent.tsx
Labels: effort: 3
